Xolartek.Web/Connected Services/XolarService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Xolartek.Entities" />
  <xs:element name="GetSchematics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchematicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Xolartek.Entities" minOccurs="0" name="GetSchematicsResult" nillable="true" type="q1:ArrayOfSchematic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Xolartek.Entities" minOccurs="0" name="GetMaterialsResult" nillable="true" type="q2:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Xolartek.Entities" minOccurs="0" name="GetTraitsResult" nillable="true" type="q3:ArrayOfTrait" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>